In [33]:
# Dependencies
from config import API_KEY
import pandas as pd
import numpy as np
import requests
import json
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Get APIs data from JSearch for Data Analyst from every major cities from Australia
## Export as JSON data files

In [34]:
# Adelaide 

# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"
# Set querystring
querystring = {"query":"Data Analyst in Adelaide, Australia","page":"1","num_pages":"20"}
# Set headers
headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}
# Make a GET request and save in variable
response = requests.get(url, headers=headers, params=querystring)
Ade_jsearch= response.json()

# Write data to a json file 
with open('../Resources/Adelaide_data_jsearch.json', 'w') as outfile:
	json.dump(Ade_jsearch, outfile, indent=4)

In [35]:
# Brisbane

url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Brisbane, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Bris_jsearch = response.json()

# Write data to a json file 
with open('../Resources/Brisbane_data_jsearch.json', 'w') as outfile:
	json.dump(Bris_jsearch, outfile, indent=4)

In [36]:
# Canberra

url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Canberra, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Canb_jsearch= response.json()

# Write data to a json file 
with open('../Resources/Canberra_data_jsearch.json', 'w') as outfile:
	json.dump(Canb_jsearch, outfile, indent=4)

In [37]:
# Darwin
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Darwin, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Darw_jsearch = response.json()

# Write data to a json file 
with open('../Resources/Darwin_data_jsearch.json', 'w') as outfile:
	json.dump(Darw_jsearch, outfile, indent=4)

In [38]:
# Hobart
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Hobart, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Hob_jsearch= response.json()

# Write data to a json file 
with open('../Resources/Hobart_data_jsearch.json', 'w') as outfile:
	json.dump(Hob_jsearch, outfile, indent=4)

In [39]:
# Melbourne
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Melbourne, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Melb_jsearch=response.json()

# Write data to a json file 
with open('../Resources/Melbourne_data_jsearch.json', 'w') as outfile:
	json.dump(Melb_jsearch, outfile, indent=4)

In [40]:
# Perth
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Perth, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Perth_jsearch=response.json()

# Write data to a json file 
with open('../Resources/Perth_data_jsearch.json', 'w') as outfile:
	json.dump(Perth_jsearch, outfile, indent=4)

In [41]:
# Sydney
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Sydney, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Syd_jsearch = response.json()

# Write data to a json file 
with open('../Resources/Sydney_data_jsearch.json', 'w') as outfile:
	json.dump(Syd_jsearch, outfile, indent=4)

## Create clean data frame

In [42]:
# columns = ["employer_name","job_publisher","job_id","job_employment_type","job_title","job_apply_link",\
#     "job_description","job_posted_at_timestamp","job_posted_at_datetime_utc","job_city","job_state",\
#     "job_country","job_latitude","job_longitude","job_offer_expiration_datetime_utc","job_offer_expiration_timestamp",\
#     "job_required_experience","job_required_skills","job_required_education"]

In [43]:
# columns = ["employer_name","job_publisher","job_id","job_employment_type","job_title","job_apply_link",\
#     "job_description","job_city","job_state","job_latitude","job_longitude",
#     "job_required_experience","job_required_skills","job_required_education"]

In [44]:
# Select certain columns to be used and turn json file into a Pandas dataframe 
columns = ["employer_name","job_publisher","job_employment_type","job_title","job_apply_link",\
    "job_description","job_city","job_state","job_latitude","job_longitude",
    "job_required_education.bachelors_degree"]

# Adelaide
raw_Ade_df = pd.json_normalize(Ade_jsearch, 'data')
Ade_df = raw_Ade_df.loc[:, columns]
Ade_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Kelsian Group Limited,LinkedIn,FULLTIME,Data & Analytics Specialist Adelaide - Permane...,https://au.linkedin.com/jobs/view/data-analyti...,International Tourism And Transport Company\n\...,Adelaide,SA,-34.928497,138.60074,True
1,Linkus,Trabajo.org,FULLTIME,Entry level Data Analyst,https://au.trabajo.org/job-847-20231009-1f6e1f...,"Company Profile\n\nNote: After Applying , Chec...",Adelaide,SA,-34.928497,138.60074,False
2,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-fe05e2e56340...,You shall find the IDA team very self-motivate...,Adelaide,SA,-34.928497,138.60074,False
3,Beach Energy Ltd,LinkedIn,FULLTIME,Data Analyst - Exploration & Subsurface,https://au.linkedin.com/jobs/view/data-analyst...,• ASX Listed Energy Company - Adelaide Head Of...,Adelaide,SA,-34.928497,138.60074,True
4,Medtronic,BeBee Australia,FULLTIME,Principle Advanced Analytics Analyst,https://au.bebee.com/job/20231009-a257e0e9aba6...,Careers that Change Lives\n\nJoin the Global O...,Adelaide,SA,-34.928497,138.60074,False

In [45]:
# Brisbane
raw_Bris_df= pd.json_normalize(Bris_jsearch, 'data')
Bris_df = raw_Bris_df.loc[:, columns]
Bris_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,UnitingCare Queensland,LinkedIn,CONTRACTOR,Data Analyst - HRIS,https://au.linkedin.com/jobs/view/data-analyst...,We are inviting applications for a 6-month con...,Brisbane,QLD,-27.470453,153.02603,True
1,PwC,BeBee Australia,FULLTIME,Data Analytics,https://au.bebee.com/job/20231009-6045f6a1a5b8...,Line of Service\n\nAssurance\n\nIndustry/Secto...,Brisbane,QLD,-27.470453,153.02603,False
2,The State of Queensland,Trabajo.org,FULLTIME,Principal Business And Data Analyst,https://au.trabajo.org/job-2233-20231009-b3bf7...,Are you looking for a challenging and rewardin...,Brisbane,QLD,-27.470453,153.02603,False
3,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-8b3ec2cda902...,You shall find the IDA team very self-motivate...,Brisbane,QLD,-27.470453,153.02603,False
4,Mott MacDonald,Mott MacDonald,FULLTIME,Data Analyst,https://www.mottmac.com/job/79148/data-analyst,"Job Description\nTogether, we open opportuniti...",Brisbane,QLD,-27.470453,153.02603,False

In [46]:
# Canberra
raw_Canb_df=pd.json_normalize(Canb_jsearch, 'data')
Canb_df=raw_Canb_df.loc[:, columns]
Canb_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Modis,Modis,CONTRACTOR,Data Analyst,https://www.modis.com/en-au/jobs-iframe/job/ca...,One of our esteemed federal government clients...,Canberra,ACT,-35.280937,149.13,False
1,Australian Taxation Office,SimplyHired,FULLTIME,Data Analyst - EL 1,https://www.simplyhired.com.au/job/zvqfaoAtAHe...,"Smarter Data Program, various teams\n\nVarious...",Canberra,ACT,-35.280937,149.13,False
2,Australian Taxation Office,SimplyHired,FULLTIME,Data Analyst - APS 6,https://www.simplyhired.com.au/job/WjCSNYJMNpo...,"Smarter Data Program, various teams\n\nVarious...",Canberra,ACT,-35.280937,149.13,False
3,JLL,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,Shaping the future of real estate for a better...,Canberra,ACT,-35.280937,149.13,True
4,Australian Taxation Office,SimplyHired,FULLTIME,Data Analyst - APS 5,https://www.simplyhired.com.au/job/has2Fspvanp...,"Smarter Data Program, various teams\n\nVarious...",Canberra,ACT,-35.280937,149.13,False

In [47]:
# Darwin
raw_Darw_df=pd.json_normalize(Darw_jsearch, 'data')
Darw_df= raw_Darw_df.loc[:, columns]
Darw_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,"Department of Industry, Tourism and Trade",SimplyHired,FULLTIME,Data Analyst,https://www.simplyhired.com.au/job/pLl1MGkXPE6...,Job description\n\nAgency Department of Indust...,Darwin,NT,-12.463734,130.84445,False
1,Linkus,Trabajo.org,FULLTIME,Associate Data Analyst,https://au.trabajo.org/job-847-20231009-ee4c66...,"Company Profile\n\nNote: After Applying , Chec...",Darwin,NT,-12.463734,130.84445,False
2,face2face Recruitment,LinkedIn,FULLTIME,Senior Data Analyst,https://au.linkedin.com/jobs/view/senior-data-...,"• Closing Date: 13 October 2023, 9:00 AM\n\nfa...",Darwin,NT,-12.463734,130.84445,True
3,Peroptyx,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231004-3fef234ae041...,"For thousands of years, maps have provided hum...",Darwin,NT,-12.463734,130.84445,False
4,Northern Territory Government,Adzuna,FULLTIME,Reporting Analyst,https://www.adzuna.com.au/details/4321350774,"The Reporting analyst will deliver objective, ...",Darwin,NT,-12.463734,130.84445,False

In [48]:
# Hobart
raw_Hob_df=pd.json_normalize(Hob_jsearch, 'data')
Hob_df=raw_Hob_df.loc[:, columns]
Hob_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Hydro Tasmania,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,"• Data curious with a technical mind, includin...",Hobart,TAS,-42.882607,147.32571,True
1,Hydro Tasmania,Terra.do,FULLTIME,Data Analyst,https://terra.do/climate-jobs/job-board/Data-A...,Hydro Tasmania has been at the forefront of cl...,Hobart,TAS,-42.882607,147.32571,False
2,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-0561cd38149b...,You shall find the IDA team very self-motivate...,Hobart,TAS,-42.882607,147.32571,False
3,face2face Recruitment,LinkedIn,FULLTIME,Senior Data Analyst,https://au.linkedin.com/jobs/view/senior-data-...,"• Closing Date: 13 October 2023, 9:00 AM\n\nfa...",Hobart,TAS,-42.882607,147.32571,True
4,Randstad,Randstad,FULLTIME,APS6 Data Analyst,https://www.randstad.com/jobs/aps6-data-analys...,"APS6 Data Analyst\n\nAs an APS 6 Data Analyst,...",Hobart,TAS,-42.882607,147.32571,False

In [49]:
# Melbourne
raw_Melb_df=pd.json_normalize(Melb_jsearch, 'data')
Melb_df =raw_Melb_df.loc[:, columns]
Melb_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Peroptyx,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231009-184636d12ead...,"For thousands of years, maps have provided hum...",Melbourne,VIC,-37.81363,144.96306,False
1,EY,EY Careers,FULLTIME,"Expressions of Interest - Data Analyst, Data &...",https://careers.ey.com/ey/job/Melbourne-Expres...,"At EY, you’ll have the chance to build a caree...",Melbourne,VIC,-37.81363,144.96306,False
2,Hays,Denmark,FULLTIME,Data Analyst,https://www.efinancialcareers.dk/jobs-Australi...,See job description for details\n\nExcellent D...,Melbourne,VIC,-37.81363,144.96306,False
3,ACCIONA Australia,LinkedIn,FULLTIME,Health and Safety Data Analyst,https://au.linkedin.com/jobs/view/health-and-s...,The Opportunity\n\nWe have an exciting opportu...,Melbourne,VIC,-37.81363,144.96306,True
4,Arsenault,ZipRecruiter Australia,FULLTIME,Junior Data Analyst,https://www.ziprecruiter.com.au/jobs/277348911...,Junior Data Analyst\n• Hybrid and Flexible Wor...,Melbourne,VIC,-37.81363,144.96306,False

In [50]:
# Perth 
raw_Perth_df=pd.json_normalize(Perth_jsearch, 'data')
Perth_df=raw_Perth_df.loc[:, columns]
Perth_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Pyramid Global Technologies,BeBee Australia,FULLTIME,Data Analyst Lead,https://au.bebee.com/job/20231010-e8c87a47556c...,About the job Data Analyst Lead\n\nAn Analytic...,Perth,WA,-31.952312,115.861305,False
1,Bonfire,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,Bonfire isn’t just another digital marketing a...,Perth,WA,-31.952312,115.861305,True
2,Western Australian Institute of Sport,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,Data Analyst\n\nAre you a Data Analyst who is ...,Perth,WA,-31.952312,115.861305,True
3,Ventia,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231005-dd48f477d4fd...,We are looking for a creative Data Analyst to ...,Perth,WA,-31.952312,115.861305,False
4,Fortescue,LinkedIn,FULLTIME,Data Scientist,https://au.linkedin.com/jobs/view/data-scienti...,About Us\n\nFortescue is both a proud West Aus...,Perth,WA,-31.952312,115.861305,True

In [51]:
# Sydney
raw_Syd_df= pd.json_normalize(Syd_jsearch, 'data')
Syd_df = raw_Syd_df.loc[:, columns]
Syd_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Transport for NSW,LinkedIn,FULLTIME,Spatial Data Analyst,https://au.linkedin.com/jobs/view/spatial-data...,"You’re agile, keen and open to meaningful work...",Sydney,NSW,-33.86882,151.20929,True
1,Recruiters Worldwide,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,Nestlé is looking for a Data Analyst.\n\n“Unlo...,Sydney,NSW,-33.86882,151.20929,True
2,PWC Australia,PwC Australia Jobs,FULLTIME,Deals - Data Analyst | Senior Associate,https://jobs-au.pwc.com/experiencedhires/au/en...,To solve important problems we need diverse ta...,Sydney,NSW,-33.86882,151.20929,False
3,Career Success Australia,Trabajo.org,FULLTIME,Data Analyst,https://au.trabajo.org/job-2233-20231009-24345...,"As a Data Analyst Intern, you will become part...",Sydney,NSW,-33.86882,151.20929,False
4,Recruiters Worldwide,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,Nestlé is looking for a Data Analyst.\n\n“Unlo...,Sydney,NSW,-33.86882,151.20929,True

### Merge all cities and clean the data

In [52]:
# Add all the cities dataframes together and format column names
merge_df = pd.concat([Ade_df,Bris_df,Canb_df,Darw_df,Hob_df,Melb_df,Perth_df,Syd_df], axis =0)
# merge_df.columns = merge_df.columns.str.replace("_", " ").str.capitalize()
merge_df

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Kelsian Group Limited,LinkedIn,FULLTIME,Data & Analytics Specialist Adelaide - Permane...,https://au.linkedin.com/jobs/view/data-analyti...,International Tourism And Transport Company\n\...,Adelaide,SA,-34.928497,138.60074,True
1,Linkus,Trabajo.org,FULLTIME,Entry level Data Analyst,https://au.trabajo.org/job-847-20231009-1f6e1f...,"Company Profile\n\nNote: After Applying , Chec...",Adelaide,SA,-34.928497,138.60074,False
2,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-fe05e2e56340...,You shall find the IDA team very self-motivate...,Adelaide,SA,-34.928497,138.60074,False
3,Beach Energy Ltd,LinkedIn,FULLTIME,Data Analyst - Exploration & Subsurface,https://au.linkedin.com/jobs/view/data-analyst...,• ASX Listed Energy Company - Adelaide Head Of...,Adelaide,SA,-34.928497,138.60074,True
4,Medtronic,BeBee Australia,FULLTIME,Principle Advanced Analytics Analyst,https://au.bebee.com/job/20231009-a257e0e9aba6...,Careers that Change Lives\n\nJoin the Global O...,Adelaide,SA,-34.928497,138.60074,False
...,...,...,...,...,...,...,...,...,...,...,...
145,GrainCorp,LinkedIn,FULLTIME,Head of Analytics - Sydney,https://au.linkedin.com/jobs/view/head-of-anal...,About the team\nWhat did you have for breakfas...,Sydney,NSW,-33.868820,151.20929,True
146,IT Pros,Talent.com,FULLTIME,"Online Data Research Analyst | Year 1 Ote $54,...",https://au.talent.com/view?id=f54edd4bc022,Job Description Join us as a Data Research Ana...,Sydney,NSW,-33.868820,151.20929,False
147,Westpac Group,BeBee Australia,FULLTIME,Analyst,https://au.bebee.com/job/20231008-1ec414ebebdb...,How will I help?\n\nAs a Analyst within the Ad...,Sydney,NSW,-33.868820,151.20929,False
148,I work for NSW,LinkedIn,FULLTIME,Data Scientist,https://au.linkedin.com/jobs/view/data-scienti...,About Us\n\nThe NSW Institute of Sport [NSWIS]...,Sydney,NSW,-33.868820,151.20929,True
149,"Salesforce, Inc.",BeBee Australia,FULLTIME,Sales Operations Analyst,https://au.bebee.com/job/20231007-ee2eb0f7b4cf...,Inc's Candidate Privacy Notice contains more d...,Sydney,NSW,-33.868820,151.20929,False

In [68]:
# clean data by replacing null with None and remove the \n from the data
jobsearch_df = merge_df.replace({np.NaN: None})
jobsearch_df = merge_df.replace({'\n': ' '}, regex=True)
jobsearch_df.reset_index(drop=True, inplace=True)
jobsearch_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Kelsian Group Limited,LinkedIn,FULLTIME,Data & Analytics Specialist Adelaide - Permane...,https://au.linkedin.com/jobs/view/data-analyti...,International Tourism And Transport Company A...,Adelaide,SA,-34.928497,138.60074,True
1,Linkus,Trabajo.org,FULLTIME,Entry level Data Analyst,https://au.trabajo.org/job-847-20231009-1f6e1f...,"Company Profile Note: After Applying , Check ...",Adelaide,SA,-34.928497,138.60074,False
2,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-fe05e2e56340...,You shall find the IDA team very self-motivate...,Adelaide,SA,-34.928497,138.60074,False
3,Beach Energy Ltd,LinkedIn,FULLTIME,Data Analyst - Exploration & Subsurface,https://au.linkedin.com/jobs/view/data-analyst...,• ASX Listed Energy Company - Adelaide Head Of...,Adelaide,SA,-34.928497,138.60074,True
4,Medtronic,BeBee Australia,FULLTIME,Principle Advanced Analytics Analyst,https://au.bebee.com/job/20231009-a257e0e9aba6...,Careers that Change Lives Join the Global Ope...,Adelaide,SA,-34.928497,138.60074,False

In [69]:
# convert dataframe into json final combine file
jobsearch_df.to_json('../Resources/finalcombine.json', indent=3)

In [ ]:
# Export the DataFrame as a CSV file. 
jobsearch_df.to_csv("../Resources/finalcombinecsv.csv", encoding='utf8', index=False)

In [ ]:
# Convert the data frame to HTML file
jobsearch_df.to_html('../templates/jobsearch.html',index=False)

# Import JSON file to SQLite database

In [ ]:
import sqlite3
import json

# Connect to the SQLite database
conn = sqlite3.connect('JSearchdata.sqlite')
cursor = conn.cursor()

# Read JSON data from a file
with open('../Resources/finalcombine.json', 'r') as file:
    data = json.load(file)

# Ensure that data is a dictionary
if not isinstance(data, dict):
    raise ValueError("The JSON data should be a dictionary")

# Extract keys from the JSON data and convert to a list
keys = list(data.keys())

# Create a list of objects from the JSON data
objects = []
for i in range(len(data[keys[0]])):
    obj = {}
    for key in keys:
        # Replace periods with underscores in column names
        column_name = key.replace(".", "_")
        obj[column_name] = data[key][str(i)]
    objects.append(obj)

# Create the table based on the keys in the first object
if objects:
    first_item = objects[0]

    # Create the table with columns based on keys
    create_table_sql = f'''
        CREATE TABLE IF NOT EXISTS jobs (
            id INTEGER PRIMARY KEY,
            {', '.join([f'"{key}" TEXT' for key in first_item.keys()])}
        )
    '''
    cursor.execute(create_table_sql)

# Insert JSON data into the table
for item in objects:
    # Prepare column names and values for insertion
    columns = ', '.join(item.keys())
    values = ', '.join(['?'] * len(item))
    insert_sql = f'INSERT INTO jobs ({columns}) VALUES ({values})'
    cursor.execute(insert_sql, tuple(item.values()))

# Commit the changes and close the connection
conn.commit()
conn.close()